<script>
  document.addEventListener('DOMContentLoaded', function () {
    const renameFileForm = document.getElementById('rename-file-form');
  
    renameFileForm.addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission
  
      const formData = new FormData(renameFileForm);
      const fileId = renameFileForm.action.split('/').slice(-3, -2)[0]; // Extract file ID from form action URL
  
      fetch(renameFileForm.action, {
        method: 'POST',
        headers: {
          'X-Requested-With': 'XMLHttpRequest', // Identify the request as AJAX
        },
        body: formData
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('Error renaming file');
        }
      })
      .then(data => {
        // Update the file name in the table
        const fileNameCell = document.querySelector(`div[id="file-${fileId}"]`);
        fileNameCell.textContent = data.new_name;
  
        // Close the modal
        const renameFileModal = bootstrap.Modal.getInstance(document.getElementById('renameFileModal'));
        renameFileModal.hide();
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
  
    const renameFileModal = document.getElementById('renameFileModal');
    renameFileModal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget;
      const fileId = button.getAttribute('data-file-id');
      const fileName = button.getAttribute('data-file-name');
      const modalFileName = renameFileModal.querySelector('#file-name');
      const renameForm = renameFileModal.querySelector('#rename-file-form');
  
      modalFileName.value = fileName;
      renameForm.action = "{% url 'filemanager:update-file' pk=0 %}".replace('0', fileId);
    });
  });

    const deleteModal = document.getElementById('deleteModal')
    deleteModal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget
      const fileId = button.getAttribute('data-file-id')
      const fileName = button.getAttribute('data-file-name')
      const modalFileName = deleteModal.querySelector('#file-name')
      const deleteForm = deleteModal.querySelector('#delete-form')
    
      modalFileName.textContent = fileName
      deleteForm.action = "{% url 'filemanager:delete-file' pk=0 %}".replace('0', fileId)
    });

  document.addEventListener('DOMContentLoaded', function () {
    const renameFolderForm = document.getElementById('rename-folder-form');
  
    renameFolderForm.addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission

        const formData = new FormData(renameFolderForm);
        const folderId = renameFolderForm.action.split('/').slice(-3, -2)[0]; // Extract folder ID from form action URL

        fetch(renameFolderForm.action, {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest', // Identify the request as AJAX
            },
            body: formData
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Error renaming folder');
            }
        })
        .then(data => {
            // Update the folder name in the table
            const folderNameCell = document.querySelector(`div[id="folder-${folderId}"]`);
            folderNameCell.textContent = data.new_name;

            // Close the modal
            const renameFolderModal = bootstrap.Modal.getInstance(document.getElementById('renameFolderModal'));
            renameFolderModal.hide();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    const renameFolderModal = document.getElementById('renameFolderModal')
    renameFolderModal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget
      const folderId = button.getAttribute('data-folder-id')
      const folderName = button.getAttribute('data-folder-name')
      const modalFolderName = renameFolderModal.querySelector('#folder-name')
      const renameForm = renameFolderModal.querySelector('#rename-folder-form')
      
      modalFolderName.value = folderName
      renameForm.action = "{% url 'filemanager:update-folder' pk=0 %}".replace('0', folderId)
    });
  });
    
    const deleteFolderModal = document.getElementById('deleteFolderModal')
    deleteFolderModal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget
      const folderId = button.getAttribute('data-folder-id')
      const folderName = button.getAttribute('data-folder-name')
      const modalFolderName = deleteFolderModal.querySelector('#folder-name')
      const deleteFolderForm = deleteFolderModal.querySelector('#delete-folder-form')
    
      modalFolderName.textContent = folderName
      deleteFolderForm.action = "{% url 'filemanager:delete-folder' pk=0 %}".replace('0', folderId)
    });
    
    var fileDetailsModal = document.getElementById('fileDetailsModal')
    fileDetailsModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      var modal = this
      var mediaContainer = modal.querySelector('#media-container')
      var fileType = button.getAttribute('data-file-type')
      var fileUrl = button.getAttribute('data-file-url')
      var fileName = button.getAttribute('data-file-name')
      var fileSize = button.getAttribute('data-file-size')
      var fileOwner = button.getAttribute('data-file-owner')
      var fileFolder = button.getAttribute('data-file-folder')
      var fileUploadDate = button.getAttribute('data-file-upload-date')
      var fileModifiedDate = button.getAttribute('data-file-modified-date')
    
      if (fileType == 'video') {
        mediaContainer.innerHTML = '<video controls style="max-width: 100%; max-height: 100%;"><source src="' + fileUrl + '" type="video/mp4">Your browser does not support the video tag.</video>'
      } else {
        mediaContainer.innerHTML = '<img src="' + fileUrl + '" alt="' + fileName + '" style="max-width: 100%; max-height: 100%;">'
      }
    
      modal.querySelector('#file-name').textContent = fileName
      modal.querySelector('#file-size').textContent = fileSize
      modal.querySelector('#file-owner').textContent = fileOwner
      modal.querySelector('#file-folder').textContent = fileFolder
      modal.querySelector('#file-upload-date').textContent = fileUploadDate
      modal.querySelector('#file-modified-date').textContent = fileModifiedDate
    });
</script>