# Project ENVs
VENV_PATH=/opt/venv

# Django ENVs
SECRET_KEY="your-secure-secret-key"
DEBUG=1 # change to 0 in production
ALLOWED_HOSTS=<comma-separated-hosts> # e.g. localhost,127.0.0.1 
LOG_LEVEL=INFO # e.g. DEBUG, INFO, WARNING, ERROR, CRITICAL
REDIS_CACHE_URL=redis://<username>:<password>@<host>:6379/<database_number> # e.g. redis://redis:6379/0
DB_NAME=<database-name>
DB_USER=<database-admin-user>
DB_PASSWORD=<database-admin-password>
DB_HOST=<database-service-host> # docker-compose database service name e.g. db or localhost (with exposed port)
DB_PORT=<database-port>

# Celery ENVs
CELERY_BROKER_URL=redis://<username>:<password>@<host>:6379/<database_number> # e.g. redis://redis:6379/0

# Postgres ENVs
POSTGRES_DB=<database-name>
POSTGRES_USER=<database-admin-user>
POSTGRES_PASSWORD=<database-admin-password>
POSTGRES_PORT=<database-port>

# MinIO ENVs
MINIO_STORAGE_ENDPOINT=<host>:<port> # e.g. minio:9000
MINIO_EXTERNAL_STORAGE_ENDPOINT=<full-url-with-port> # e.g. "http://127.0.0.1:9000"
MINIO_STORAGE_ACCESS_KEY=<dashboard-access-key> # e.g. "minio_admin"
MINIO_STORAGE_SECRET_KEY=<dashboard-password> # e.g. "minio_admin_password"
MINIO_STORAGE_USE_HTTPS=False
MINIO_STORAGE_MEDIA_BUCKET_NAME="media"
MINIO_STORAGE_STATIC_BUCKET_NAME="static"
