# Project ENVs
VENV_PATH=/opt/venv

# Django ENVs
SECRET_KEY="your-secure-secret-key"
DEBUG=1 # change to 0 in production
LOG_LEVEL=INFO # e.g. DEBUG, INFO, WARNING, ERROR, CRITICAL
REDIS_CACHE_URL=redis://<username>:<password>@<host>:6379/<database_number> # e.g. redis://redis:6379/0

# Celery ENVs
CELERY_BROKER_URL=redis://<username>:<password>@<host>:6379/<database_number> # e.g. redis://redis:6379/0
