{% extends 'base.html' %}
{% load static %}

{% block css_links %}
  <style>
    tbody tr:hover td:hover {
      background-color: #f0f0f0 !important;
      cursor: pointer;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  </style>
{% endblock %}

{% block main_content %}
  <section class="h-100 w-100" style="background-color: #eee;">
    <div class="container py-2 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 col-xl-12">
          <div class="card rounded-3">
            <div class="card-body p-4">
              <h4 class="text-center my-3 pb-3">File Manager App</h4>
              <div class="row text-center">
                {% if form.errors %}
                  {% for field in form %}
                    {% if field.errors %}
                      {% for error in field.errors %}
                        <p class="text-danger">{{ field.name|title }} - {{ error|escape }}</p>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.errors %}
                  <a href="{{ referer_url }}"><button type="button" class="btn btn-outline-secondary fs-3 mb-4">Click Here to return to previous page</button></a>
                {% endif %}
              </div>
              
              {% if not form.errors %}                
              <div class="row">
                <div class="col">
                  <form class="row g-1 text-center mb-2 pb-2" method="post" action="{% url 'filemanager:upload-file' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-9">
                      <div class="form-outline">
                        <input type="file" id="task-title" name="file" class="form-control" placeholder="Choose a file.." />
                        <input type="hidden" name="folder" class="form-control" value="{% if current_folder %} {{ current_folder.id }} {% endif %}"/>
                      </div>
                    </div>
                    <div class="d-grid col-3">
                      <button type="submit" class="btn btn-outline-primary">Upload</button>
                    </div>
                  </form>
                </div>
                <div class="col">
                  <form class="row g-1 text-center mb-1 pb-2" method="post" action="{% url 'filemanager:create-folder' %}">
                    {% csrf_token %}
                    <div class="col-9">
                      <div class="form-outline">
                        <input type="text" id="task-title" name="name" class="form-control" placeholder="New Folder Name" />
                        <input type="hidden" name="parent_folder" class="form-control" value="{% if current_folder %} {{ current_folder.id }} {% endif %}"/>
                      </div>
                    </div>
                    <div class="d-grid col-3">
                      <button type="submit" class="btn btn-outline-success">Create Folder</button>
                    </div>
                  </form>
                </div>
              </div>
              <hr />

              <div class="row mb-2">
                <div class="col-7">
                  <div class="card border border-3">
                    <div class="card-body">{{ folder_path }}</div>
                  </div>
                </div>
                <!-- Serach Bar -->
                <div class="col-5">
                  <form class="row g-1" method="get" action="{% url 'filemanager:search' %}">
                    <div class="col-10">
                      <div class="form-outline">
                        <input type="text" name="search" class="form-control p-3" placeholder="Search Files & Folders" />
                      </div>
                    </div>
                    <div class="col-2">
                      <button type="submit" class="btn btn-outline-secondary p-3 px-4"><i class="bi bi-search"></i></button>
                    </div>
                  </form>
                </div>
              </div>

              <hr />

              <table class="table mb-4">
                <thead>
                  <tr>
                    <th scope="col">Preview</th>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Upload-Date</th>
                    <th scope="col" class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% if current_folder %}
                    <tr>
                      <td class="col-1 text-center">
                        {% if current_folder.parent_folder.slug %}
                        <a href="{% url 'filemanager:folder-content' folder_slug=current_folder.parent_folder.slug %}">
                        {% else %}
                        <a href="{% url 'filemanager:home' %}">
                        {% endif %}
                          <img src="{% static 'img/return-icon.png' %}" alt="{{ current_folder.name }}" />
                        </a>
                      </td>
                      <td class="col-5">
                        {% if current_folder.parent_folder.slug %}
                        <a href="{% url 'filemanager:folder-content' folder_slug=current_folder.parent_folder.slug %}">
                        {% else %}
                        <a href="{% url 'filemanager:home' %}">
                        {% endif %}
                        <div>
                          <p>Return back</p>
                        </div>
                        </a>
                      </td>
                      <td class="col-2"></td>
                      <td class="col-2"></td>
                      <td class="col-2 text-center"></td>
                    </tr>
                  {% endif %}
                  {% for folder in folders %}
                    <tr>
                      <td class="col-1 text-center">
                        <a href="{% url 'filemanager:folder-content' folder_slug=folder.slug %}"><img src="{% static 'img/folder-icon.png' %}" alt="{{ folder.name }}" /></a>
                      </td>
                      <td class="col-5">
                        <a href="{% url 'filemanager:folder-content' folder_slug=folder.slug %}"><div id="folder-{{folder.id}}">{{ folder.name }}</div><p class="fw-light">{{ folder.owner }}</p></a>
                      </td>
                      <td class="col-2"></td>
                      <td class="col-2">{{ folder.created_at|date:'d M Y' }}</td>
                      <td class="col-2 text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#renameFolderModal" data-folder-id="{{ folder.id }}" data-folder-name="{{ folder.name }}">
                          <i class="bi bi-pencil-square fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteFolderModal" data-folder-id="{{ folder.id }}" data-folder-name="{{ folder.name }}">
                          <i class="bi bi-trash-fill fs-5"></i>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}

                  {% for file in files %}
                    <tr data-bs-toggle="modal" data-bs-target="#fileDetailsModal" data-file-id="{{ file.id }}" data-file-url="{{ file.file.url }}" data-file-name="{{ file.name }}" data-file-type="{{ file.type }}" data-file-size="{{ file.formatted_size }}" data-file-owner="{{ file.owner }}" data-file-folder="{{ file.folder.name|default:'home' }}" data-file-upload-date="{{ file.created_at|date:'d M Y' }}" data-file-modified-date="{{ file.updated_at|date:'d M Y' }}">
                      <td class="col-1 text-center">
                        <img src="{{ file.thumbnail.url }}" alt="{{ file.name }}" />
                      </td>
                      <td class="col-5">
                        <div id="file-{{ file.id }}">{{ file.name }}</div><p class="fw-light">{{ file.owner }}</p>
                      </td>
                      <td class="col-2">{{ file.formatted_size }}</td>
                      <td class="col-2">{{ file.created_at|date:'d M Y' }}</td>
                      <td class="col-2 text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#renameFileModal" data-file-id="{{ file.id }}" data-file-name="{{ file.name }}">
                          <i class="bi bi-pencil-square fs-5"></i>
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-file-id="{{ file.id }}" data-file-name="{{ file.name }}">
                          <i class="bi bi-trash-fill fs-5"></i>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% endif %}
              {% if not folders and not files and not form.errors %}
              <div class="text-center fs-5">This folder is empty.</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "filemanager/includes/file-details-modal.html" %}
  
  {% include "filemanager/includes/rename-file-modal.html" %}

  {% include "filemanager/includes/delete-file-modal.html" %}
  
  {% include "filemanager/includes/rename-folder-modal.html" %}
  
  {% include "filemanager/includes/delete-folder-modal.html" %}  
  
  {% include "filemanager/includes/modals-scripts.html" %}
  
{% endblock %}
