{% extends 'base.html' %}
{% load static %}

{% block css_links %}
  <style>
    tbody tr:hover td:hover {
      background-color: #f0f0f0 !important;
      cursor: pointer;
    }
  </style>
{% endblock css_links %}

{% block main_content %}
  <section class="h-100 w-100" style="background-color: #eee;">
    <div class="container py-2 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 col-xl-12">
          <div class="card rounded-3">
            <div class="card-body p-4">
              <h4 class="text-center my-3 pb-3">File Manager App</h4>
              {% if form.errors %}
                {% for field in form %}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <p class="text-danger ps-5">{{ field.name|title }} - {{ error|escape }}</p>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endif %}
              <form class="row g-3 text-center mb-4 pb-2" method="post" action="{% url 'filemanager:upload-file' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-9 ps-5">
                  <div class="form-outline">
                    <input type="file" id="task-title" name="file" class="form-control" placeholder="Choose a file.." />
                  </div>
                </div>

                <div class="d-grid col-3 pe-5">
                  <button type="submit" class="btn btn-outline-primary">Upload</button>
                </div>
              </form>
              <br />

              <table class="table mb-4">
                <thead>
                  <tr>
                    <th scope="col">Preview</th>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Upload-Date</th>
                    <th scope="col" class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for file in files %}
                  <tr data-bs-toggle="modal" data-bs-target="#fileDetailsModal" data-file-url="{{ file.file.url }}" data-file-name="{{ file.name }}" data-file-type="{{ file.type }}"  data-file-size="{{ file.formatted_size }}" data-file-owner="{{ file.owner }}" data-file-folder="{{ file.folder.name|default:'home' }}" data-file-upload-date="{{ file.created_at|date:'d M Y' }}" data-file-modified-date="{{ file.updated_at|date:'d M Y' }}">
                    <td class="col-1 text-center">
                        <img src="{{ file.thumbnail.url }}" alt="{{ file.name }}" />
                      </td>
                      <td class="col-5">
                        {{ file.name }}<p class="fw-light">{{ file.owner }}</p>
                      </td>
                      <td class="col-2">{{ file.formatted_size }}</td>
                      <td class="col-2">{{ file.created_at|date:'d M Y' }}</td>
                      <td class="col-2 text-center">
                        <a type="button" class="btn btn-primary" href=""><i class="bi bi-pencil-square fs-5"></i></a>

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-file-id="{{ file.id }}" data-file-name="{{ file.name }}"><i class="bi bi-trash-fill fs-5"></i></button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- File Details Modal -->
  <div class="modal fade" id="fileDetailsModal" tabindex="-1" aria-labelledby="fileDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fileDetailsModalLabel">File Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 text-center mb-2" id="media-container">
              <!-- Video or Image tag will be dynamically added here -->
          </div>
            <div class="col-12">
              <p><strong>Name:</strong> <span id="file-name"></span></p>
              <p><strong>Size:</strong> <span id="file-size"></span></p>
              <p><strong>Owner:</strong> <span id="file-owner"></span></p>
              <p><strong>Folder:</strong> <span id="file-folder"></span></p>
              <p><strong>Upload Date:</strong> <span id="file-upload-date"></span></p>
              <p><strong>Modified Date:</strong> <span id="file-modified-date"></span></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the file <strong id="file-name"></strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form method="post" id="delete-form" action="">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    const deleteModal = document.getElementById('deleteModal')
    deleteModal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget
      const fileId = button.getAttribute('data-file-id')
      const fileName = button.getAttribute('data-file-name')
      const modalFileName = deleteModal.querySelector('#file-name')
      const deleteForm = deleteModal.querySelector('#delete-form')
    
      modalFileName.textContent = fileName
      deleteForm.action = "{% url 'filemanager:delete-file' pk=0 %}".replace('0', fileId)
    })
    
    var fileDetailsModal = document.getElementById('fileDetailsModal');
    fileDetailsModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var modal = this;
        var mediaContainer = modal.querySelector('#media-container');
        var fileType = button.getAttribute('data-file-type');
        var fileUrl = button.getAttribute('data-file-url');
        var fileName = button.getAttribute('data-file-name');
        var fileSize = button.getAttribute('data-file-size');
        var fileOwner = button.getAttribute('data-file-owner');
        var fileFolder = button.getAttribute('data-file-folder');
        var fileUploadDate = button.getAttribute('data-file-upload-date');
        var fileModifiedDate = button.getAttribute('data-file-modified-date');

        if (fileType == 'video') {
            mediaContainer.innerHTML = '<video controls style="max-width: 100%; max-height: 100%;"><source src="' + fileUrl + '" type="video/mp4">Your browser does not support the video tag.</video>';
        } else {
            mediaContainer.innerHTML = '<img src="' + fileUrl + '" alt="' + fileName + '" style="max-width: 100%; max-height: 100%;">';
        };

        modal.querySelector('#file-name').textContent = fileName;
        modal.querySelector('#file-size').textContent = fileSize;
        modal.querySelector('#file-owner').textContent = fileOwner;
        modal.querySelector('#file-folder').textContent = fileFolder;
        modal.querySelector('#file-upload-date').textContent = fileUploadDate;
        modal.querySelector('#file-modified-date').textContent = fileModifiedDate;
      });
  </script>
{% endblock %}
